body {
  background: url(../images/panggou1.jpg) no-repeat center/cover;
}

.my-header {
  height: calc(260vw / 3.75);
  background: linear-gradient(180deg, #2cb5a575 0%, #2cb5a500 100%);

  .userInfo {
    width: 100%;
    height: 100%;
    overflow: hidden;

    .top {
      margin-top: calc(88vw / 3.75);
      display: flex;
      width: 100%;

      > a img {
        margin: 0 calc(12.5vw / 3.75);
        width: calc(69vw / 3.75);
        height: calc(69vw / 3.75);
        border-radius: 50%;
      }

      .text {
        display: flex;
        flex-direction: column;
        align-items: start;

        .name {
          margin-bottom: calc(15vw / 3.75);
          color: #000000;
          font-family: PingFang SC;
          font-weight: medium;
          font-size: calc(18vw / 3.75);
        }

        img {
          width: calc(30vw / 3.75);
          height: calc(28vw / 3.75);
        }
      }
    }

    .bottom {
      margin-top: calc(20vw / 3.75);

      ul {
        display: flex;
        justify-content: center;
        align-items: center;

        li {
          a {
            display: flex;
            flex-direction: column;
            width: calc(93vw / 3.75);

            .count {
              color: #000000;
              font-family: DIN Condensed;
              font-weight: bold;
              font-size: calc(24vw / 3.75);
              line-height: calc(24vw / 3.75);
              letter-spacing: 0;
              text-align: center;
            }

            .label {
              margin-top: calc(10vw / 3.75);
              color: #979797;
              font-family: PingFang SC;
              font-weight: regular;
              font-size: calc(12vw / 3.75);
              line-height: calc(17vw / 3.75);
              letter-spacing: 0;
              text-align: center;
            }
          }
        }
      }
    }
  }
}

.content-wrapper {
  overflow: scroll;
  padding: calc(15vw / 3.75);

  .content {
    width: 100%;

    .diagnosis {
      margin: calc(20vw / 3.75) 0;
      padding: 0 calc(15vw / 3.75);
      padding-top: calc(20vw / 3.75);
      width: 100%;
      background-color: #ffffff00;
      border-radius: calc(10vw / 3.75);
      box-shadow: 0pt 0pt calc(11vw / 3.75) calc(0vw / 3.75) #0e0d0d35;

      .title {
        width: 100%;
        margin-bottom: calc(20vw / 3.75);
        color: #000000;
        font-family: PingFang SC;
        font-weight: medium;
        font-size: calc(16vw / 3.75);
        line-height: calc(24vw / 3.75);
      }

      .card {
        width: 100%;
        overflow: scroll;

        ul {
          display: flex;

          > li {
            margin-right: calc(15vw / 3.75);
            flex-shrink: 0;
            /* width: calc(330vw / 3.75); */
            padding: calc(10vw / 3.75) calc(10vw / 3.75) calc(10vw / 3.75) 0;

            a {
              width: 100%;

              .diagnosis-content {
                display: flex;
                align-items: center;

                .left {
                  display: flex;
                  align-items: center;
                  margin-right: calc(15vw / 3.75);

                  img {
                    margin-right: calc(10vw / 3.75);
                    width: calc(45vw / 3.75);
                    height: calc(45vw / 3.75);
                    border-radius: 50%;
                  }

                  .text {
                    display: flex;
                    flex-direction: column;
                    align-items: start;

                    .top {
                      .name {
                        color: #000000;
                        font-family: PingFang SC;
                        font-weight: medium;
                        font-size: calc(18vw / 3.75);
                        line-height: calc(18vw / 3.75);
                        margin-right: calc(7.5vw / 3.75);
                      }

                      .call {
                        color: #5d5d5d;
                        font-family: PingFang SC;
                        font-weight: medium;
                        font-size: calc(12vw / 3.75);
                        line-height: calc(20vw / 3.75);
                      }
                    }

                    .bottom {
                      .level {
                        margin-right: calc(3.5.5vw / 3.75);
                        color: #fff;
                        font-family: PingFang SC;
                        font-weight: medium;
                        font-size: calc(9vw / 3.75);
                        line-height: calc(14vw / 3.75);
                        background-color: #5973ff;
                      }

                      .hospital {
                        color: #373737;
                        font-family: PingFang SC;
                        font-weight: medium;
                        font-size: calc(12vw / 3.75);
                        line-height: calc(21vw / 3.75);
                      }
                    }
                  }
                }

                .right {
                  text-align: center;
                  width: calc(76vw / 3.75);
                  height: calc(29vw / 3.75);
                  border-radius: calc(14.5vw / 3.75);
                  color: #6bd1c2;
                  font-family: PingFang SC;
                  font-weight: medium;
                  font-size: calc(12vw / 3.75);
                  line-height: calc(29vw / 3.75);
                  background-color: #eaf8f600;
                }
              }
            }
          }
        }
      }

      .dot {
        margin-top: calc(25vw / 3.75);
        width: 100%;
        display: flex;
        justify-content: center;

        ol {
          width: calc(17vw / 3.75);
          height: calc(10vw / 3.75);
          display: flex;
          justify-content: space-between;

          > li {
            width: calc(5vw / 3.75);
            height: calc(5vw / 3.75);
            background-color: #9ff2e8;
            border-radius: 50%;

            &.active {
              background-color: #1cb4a1;
            }
          }
        }
      }
    }

    .order {
      padding: calc(15vw / 3.75);
      width: 100%;
      background-color: #ffffff00;
      border-radius: calc(10vw / 3.75);
      box-shadow: 0pt 0pt calc(11vw / 3.75) calc(0vw / 3.75) #0e0d0d35;

      .order-header {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        .title {
          color: #000000;
          font-family: PingFang SC;
          font-weight: bold;
          font-size: calc(16vw / 3.75);
          line-height: calc(24vw / 3.75);
          letter-spacing: 0;
          text-align: center;
        }

        p {
          color: #c3c3c5;
          font-family: PingFang SC;
          font-weight: normal;
          font-size: calc(13vw / 3.75);
          line-height: calc(24vw / 3.75);
          letter-spacing: 0;
          text-align: left;

          .iconfont {
            margin-left: calc(5vw / 3.75);
            font-size: calc(16vw / 3.75);
            line-height: calc(24vw / 3.75);
          }
        }
      }

      .order-content {
        margin-top: calc(20vw / 3.75);
        padding: 0 calc(10vw / 3.75);
        width: 100%;

        ul {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;

          li {
            width: calc(36vw / 3.75);
            height: calc(50vw / 3.75);

            a {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: space-between;

              img {
                width: calc(27vw / 3.75);
                height: calc(27vw / 3.75);
              }

              span {
                color: #484a4d;
                font-family: PingFang SC;
                font-size: calc(12vw / 3.75);
                line-height: calc(28vw / 3.75);
                letter-spacing: 0;
              }
            }

            &:nth-child(2) .pic {
              position: relative;
            }

            &:nth-child(2) .count {
              text-align: center;
              background-color: red;
              width: calc(16vw / 3.75);
              height: calc(16vw / 3.75);
              border-radius: 50%;
              color: #fff;
              font-size: calc(12vw / 3.75);
              line-height: calc(16vw / 3.75);
              position: absolute;
              top: calc(-3vw / 3.75);
              right: calc(-6vw / 3.75);
              z-index: 99;
            }
          }
        }
      }
    }

    .tools {
      margin-top: calc(10vw / 3.75);
      padding: calc(15vw / 3.75);
      width: 100%;
      background-color: #ffffff00;
      border-radius: calc(10vw / 3.75);
      box-shadow: 0pt 0pt calc(11vw / 3.75) calc(0vw / 3.75) #0e0d0d35;

      .title {
        font-weight: 600;
        font-size: calc(16vw / 3.75);
        line-height: calc(24vw / 3.75);
        margin-bottom: calc(17.5vw / 3.75);
      }

      ul {
        width: 100%;

        li {
          width: 100%;

          a {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: calc(46vw / 3.75);

            .left {
              display: flex;
              align-items: center;

              .iconfont {
                font-size: calc(25vw / 3.75);
                margin-right: calc(10vw / 3.75);
              }

              span {
                color: #6b6c6f;
                font-size: calc(16vw / 3.75);
              }
            }
          }
        }
      }
    }
  }
}
